@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

@import "./variables.scss";
@import "./customize.scss";

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

/* Reset the container */
.container {
  max-width: none !important;
  width: 1200px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $color-text;
  letter-spacing: 1px;
  font-weight: bold;
}

a {
  color: $color-light-text;
}

a:hover,
a:focus {
  color: $color-text;
  text-decoration: none;
}

.btn {
  line-height: 1;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.color-light-text {
  color: $color-light-text;
}

.filter {
  &__bg {
    background-color: #ffffff;
    font-size: 12px;
    border-radius: 8px;
    text-transform: uppercase;
  }
  &__input {
    background-color: #f0f2f7;
    padding-left: 15px;
    padding-right: 15px;
    &--keywords {
      max-width: 160px !important;
    }
    &--price {
      max-width: 60px !important;
    }
  }
  &__select {
    &--sort {
      max-width: 100px !important;
    }
    &--ship {
      max-width: 70px !important;
    }
  }
  &__shipping {
    min-height: auto;
    label {
      &:before {
        top: 50%;
        transform: translateY(-50%);
      }
      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.side-bar {
  &__item {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
  }
  &__subitem {
    font-size: 12px;
    display: block;
    padding: 10px 20px;
    background: #f0f2f7;
    color: #a1a8bd;
    border-bottom: 1px solid #dfe4ee;
    font-weight: 400;
    text-transform: uppercase;
    &:last-child {
      border-bottom: none;
    }
  }
}
