@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

body {
  font-family: "Montserrat", sans-serif;
  color: #343e5c;
  font-weight: 600;
}

.nav .nav-link {
  color: rgba(52, 62, 92, 0.7);
}

.nav .nav-link:hover,
.nav .nav-link:focus {
  color: #343e5c;
}

.btn {
  font-weight: bold;
}
