@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import "./variable.scss";
// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

/* Reset the container */
.container {
  max-width: none !important;
  width: 1170px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #343e5c;
  letter-spacing: 1px;
}

a {
  color: rgba(52, 62, 92, 0.7);
}

a:hover,
a:focus {
  color: #343e5c;
}

.btn {
  line-height: 1;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
}

.header {
  &__nav {
    .nav-link {
      padding: 5px 12px;
      color: rgba(52, 62, 92, 0.7);
    }
    .nav-link:hover,
    .nav-link:focus {
      color: #343e5c;
    }
  }
}

.color-light-text {
  color: $color-light-text;
}

.filter {
  padding: 40px 15px 20px;
  font-size: 12px;
  font-weight: bold;
  color: $color-light-text;
  text-transform: uppercase;
  &__wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__keywords {
    width: 160px;
  }
  &__price {
    width: 60px;
  }
  &__freeshipping {
    display: inline-block;
    min-height: auto;
    .custom-control-label::before,
    .custom-control-label::after {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  label {
    margin-bottom: 0;
    margin: 0 10px;
  }
  input[type="text"] {
    display: inline-block;
    font-weight: bold;
    background: #f0f2f7;
    font-size: 12px;
    margin: 0 10px;
    &::placeholder {
      opacity: 0.5;
    }
  }
  select {
    display: inline-block;
    width: auto;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
  }
}
